.dialogue-container {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
}

.dialogue-box {
    background-color: transparent;
    background-image: url('project://database/Assets/Sprites/boite dialogue copie.png');
    -unity-background-scale-mode: scale-to-fit;
    border-radius: 10px;
    padding: 100px 120px 80px 120px;
    width: 80%;
    min-width: 600px;
    min-height: 200px;
    flex-shrink: 0;
    align-items: stretch;
    justify-content: flex-start;
}

.dialogue-actor-name {
    color: rgb(255, 255, 255);
    font-size: 36px;
    -unity-font: url('project://database/Assets/TextMesh Pro/Fonts/YuvTales_v2.ttf');
    -unity-font-definition: initial;
    -unity-font-style: bold;
    margin-bottom: 15px;
    flex-shrink: 0;
    align-self: flex-start;
}

.dialogue-message-text {
    color: white;
    font-size: 28px;
    -unity-font: url('project://database/Assets/TextMesh Pro/Fonts/YuvTales_v2.ttf');
    -unity-font-definition: initial;
    white-space: normal;
    flex-grow: 1;
    margin-bottom: 20px;
}

.dialogue-choices-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
}

.dialogue-choice-button {
    background-color: transparent;
    background-image: url('project://database/Assets/Sprites/selection dialogue .png');
    -unity-background-scale-mode: scale-to-fit;
    color: white;
    border-width: 0px;
    padding: 15px 30px;
    margin: 5px;
    font-size: 22px;
    -unity-font: url('project://database/Assets/TextMesh Pro/Fonts/YuvTales_v2.ttf');
    -unity-font-definition: initial;
    -unity-font-style: bold;
    flex-shrink: 0;
    cursor: pointer;
    transition-property: scale;
    transition-duration: 0.2s;
}

.dialogue-choice-button:hover {
    background-image: url('project://database/Assets/Sprites/selection dialogue on.png');
    color: white;
    scale: 1.05;
}

.dialogue-choice-button:focus {
    background-image: url('project://database/Assets/Sprites/selection dialogue on.png');
    color: white;
}
