.dialogue-container {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
}

.dialogue-box {
    background-color: transparent;
    background-image: url('project://database/Assets/Sprites/boite dialogue copie.png');
    -unity-background-scale-mode: scale-to-fit;
    border-radius: 10px;
    padding: 40px;
    width: 80%;
    min-width: 600px;
    min-height: 200px;
    flex-shrink: 0;
    align-items: stretch;
    justify-content: flex-start;
}

.dialogue-actor-name {
    color: rgb(255, 200, 0);
    font-size: 24px;
    -unity-font-style: bold;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.dialogue-message-text {
    color: white;
    font-size: 18px;
    white-space: normal;
    flex-grow: 1;
    margin-bottom: 20px;
}

.dialogue-choices-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
}

.dialogue-choice-button {
    background-color: transparent;
    background-image: url('project://database/Assets/Sprites/selection dialogue .png');
    -unity-background-scale-mode: scale-to-fit;
    color: white;
    border-width: 0px;
    padding: 15px 30px;
    margin: 5px;
    font-size: 18px;
    -unity-font-style: bold;
    flex-shrink: 0;
    cursor: pointer;
    transition-property: scale;
    transition-duration: 0.2s;
}

.dialogue-choice-button:hover {
    background-image: url('project://database/Assets/Sprites/selection dialogue on.png');
    color: white;
    scale: 1.05;
}

.dialogue-choice-button:focus {
    background-image: url('project://database/Assets/Sprites/selection dialogue on.png');
    color: white;
}
